.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.perror{
  color: red;
  transition-property: all;
  transition-duration: 0.3s;
}

.headding{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.user{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  padding-right: 10px;
  width: 90%;
}

.user:focus{
  outline: 2px solid #646cff;
  transition-property: outline;
  transition-duration: 0.2s;
}


.password:focus{
  outline: 2px solid #646cff;
  transition-property: outline;
  transition-duration: 0.2s;
}

.card{
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px #646cffbb;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.password{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  padding-right: 10px;
  width: 90%;
}

.btn{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #646cffbb;
  width: 150px;
  border: none;
  width: 150px;
}

.btn:hover{
  background-color: #646cff;
  color: white;
  transition-property: all;
  width: 250px;
  transition-duration: 0.3s;
}

.meta-logo{
  width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.meta-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.img-insta{
  width: 30px;
  border-radius: 20px;
}

.in{
  text-align: center;
  margin-top: 20px;
}

.paa{
  padding: 10px;
}